.content__home {
    padding-top: 80px;
    margin-bottom: 30px ;
    /* background-color: #198754;
    color: rgb(234, 234, 234); */
    /* align-items: center;
    border-radius: 15px; */
    /* padding: 20px;
    font-family: cursive; */
    position: relative;
    color: var(--text-color-black);
}

.vector__aboutme1 {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--vector-circle);
    z-index: -2;
    top: 30px;
    left: 50%;
    font-size: 3rem;
}

.vector__aboutme2 {
    width: 60px;
    height: 260px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    background-color: var(--vector-circle);
    z-index: -2;
    top: 30%;
    left: 0;
    font-size: 3rem;
}

.vector__aboutme3 {
    position: absolute;
    color: var(--vector-point);
    bottom: 100px;
    left: 100px;
    font-size: 3rem;
    letter-spacing: 15px;

}

.content__home img {
    margin: 0 auto;
}

.acercaDeMi__text {
    display: flex;
    height: 100vh;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items:center;
    gap: 1rem;
}

.point {
    font-size: 3rem;
}


.content__title-carita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carita {
    font-size: 7rem; 
}

.title__hablandas {
    font-size: 1.3rem;
    text-decoration:underline;
}

.description__ol {
    font-size: 1.1rem;
    
    
}

.img__acerca {
   max-width: 400px; 
  
   /* border-radius: 10%; */
   animation: moveImg 5s infinite;
 
   
}

@keyframes moveImg {
    0%{border-radius: 50%}
    50%{border-radius: 5%}
    100%{border-radius: 50%}

}

@media (max-width: 700px) {
    .acercaDeMi__text {
        flex-direction: column;
        text-align: center;
        
    }
}

@media (max-width: 780px) {
    .content__home {
        grid-template-columns: 1fr;
        padding: 10px; 
    }

    .vector__aboutme3 {
        display: none;
    }

    .title__hablandas {
        text-align: center;
    }

    .description__ol {
        text-align: center;
        padding: 0;
    }

    .img__acerca {
        max-width: 180px;
    }
    
}


 




