.content__home {
    padding-top: 80px;
    margin-bottom: 30px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    background-color: #198754;
    color: rgb(234, 234, 234);
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    font-family: cursive;
}

.content__home img {
    margin: 0 auto;
}

.acercaDeMi__text {
    display: flex;
    flex-direction: column;
    
    align-items:center;
    gap: 1rem;
}

.title__hablandas {
    font-size: 1.3rem;
    text-decoration:underline;
}

.description__ol {
    font-size: 1.1rem;
    
    
}

.img__acerca {
   max-width: 400px; 
  
   /* border-radius: 10%; */
   animation: moveImg 5s infinite;
 
   
}

@keyframes moveImg {
    0%{border-radius: 50%}
    50%{border-radius: 5%}
    100%{border-radius: 50%}

}

@media (max-width: 780px) {
    .content__home {
        grid-template-columns: 1fr;
        padding: 10px;
        
    }

    .title__hablandas {
        text-align: center;
    }

    .description__ol {
        text-align: center;
        padding: 0;
    }

    .img__acerca {
        max-width: 180px;
    }
    
}


 




