.container__footer {

    background-color: #1d1d1d;
    padding: 10px;
}

.icons__footer {
    display: flex ;
    justify-content: space-evenly;
    font-size: 3rem;
}

.item__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373b3e;
    color: white;
    border-radius: 50%; 
    width: 60px;
    height: 30px;
    box-shadow: 5px 2px 2px rgb(34, 34, 33);  
    
    
}



.item__icons a {
    color: #198754;
    transition: transform 0.5s;
    z-index: 10000;
}

.item__icons a:hover {
    color: rgb(99, 202, 81);
    transform: scale(1.5);
}

.createBy {
    color: #5d6061;
    padding-top: 50px ;
    text-align: center;
}

@media (max-width: 500px) {
    .icons__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        
    }

    .item__icons {
        margin: 0 auto;
    }
    
}