.contaniner__habilidades {
    background-color: white;
    padding: 150px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #424649;
    border-radius: 15px;
    margin-top: 30px;
}

.text__habilidades{
    font-size: 1.3rem;
}

.lista__habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.2rem;  
}

.lista__habilidades li {
    margin: 0 auto;
}

.img__habilidades {
    width: 100px;
    transition: transform 0.5s;
}

.img__habilidades:hover {
    transform: scale(1.2);
}

.content__img-habilidad {
    max-width: 300px;
    min-width: 50px;
    aspect-ratio: 1.5;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(35, 35, 35);


}

.habilidad__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 4rem;
    margin-top: 20px;
    
    

}

li {
    list-style: none;
}

.habilidad__bar {
   padding: 0 20px;
}


@media (max-width: 992px) {
    .contaniner__habilidades {
        padding: 10px;
       
    }
    
}


@media (max-width: 600px) {
    .contaniner__habilidades{
        padding: 5px;
    }

    .content__img-habilidad {
        width: 120px;
        margin: 15px auto;
    }

    .img__habilidades {
        width: 90px;
    }

  

    .habilidad__grid {
        
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 550px) {
    .lista__habilidades {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
       
        gap: 0.2rem;
    }

    

    .lista__habilidades li {
        font-size: 1rem;
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
    }

    .img__habilidades {
        width: 80px;
    }

    
}
