.container__home {
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-image: url("/images/background-home.png");
    background-repeat: no-repeat;
    background-position: 100% 100%; */
    position: relative;
    color: var(--text-color-black);
}

.circle__home {
    width: 300px;
    height: 300px;
    background-color: var(--vector-circle);

    border-radius: 50%;
    position: absolute;
}

.vector__home {
    position: absolute;
    bottom: 120px;
    left: 66px;
    font-size: 3rem;
    color: var(--vector-point);
    letter-spacing: 15px;
}



.vector__home1 {
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 3rem;
    color: var(--vector-point);
    letter-spacing: 15px;

}

.vector__home2 {
    position: absolute;
    top: 100px;
    right: 50px;
    font-size: 3rem;
    letter-spacing: 15px;
    color: var(--vector-point);

}

.vector__home3 {
    width: 80px;
    height: 80px;
    background-color: var(--vector-circle);

    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 3rem;
}

.vector__home4 {
    width: 120px;
    height: 120px;
    
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    bottom: 30px;
    right: -20px;
    font-size: 3rem;
}

.complemet__vector4 {
    width: 110px;
    height: 110px;
    background-color: var(--vector-circle);
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    /* bottom: 100px;
    right: 50px; */
    top: 6px;
    left: 2px;
    

}


.content__text-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: transparent;
    width: 100%;
    height: 100vh;
}


.hover-text {
    color: var(hover-home);
    animation: whats 1.5s infinite;
}

.whats__home {
    color: var(--whats-home);
    font-size: 4rem;
    animation: whats 0.8s infinite;
}

@keyframes whats {
    0%{transform: scale(0)}
    50%{transform: scale(1)}
    100%{transform: scale(0)}
    
}

.finger__hover {
    animation: move 02s infinite;
    margin-bottom: 50px;
    color: rgb(102, 102, 102);
    font-family: fantasy;
}

.no {
    display: none;
}



@keyframes move {
    0%{transform: translateX(0)}
    50%{transform: translateX(10px)}
    100%{transform: translateX(0px)}
    
}

.content__text-home img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    z-index: 1000;
}

.content__text-home h1, h3, h4, h5 {
    z-index: 10;
    font-size: 3rem;
    
}

@media (max-width: 500px) {
    .circle__home {
        width: 200px;
        height: 200px;
    }

    .vector__home1 {
        display: none;
    }

    .vector__home2 {
        display: none;
    }

    .vector__home3 {
        left: 3px;
        width: 50px;
        height: 50px;
       
    }
    
}

@media (max-width: 800px) {
    .container__home {
        flex-direction: column;
    }
    
}

@media (max-width: 450px) {
    .content__text-home {
        padding: 0 8px;
    }

    .content__text-home h1, h4, h5 {
        font-size: 2rem;
    }
    
}