.container__home {
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(26, 26, 26);

}

.content__text-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: rgb(255, 255, 255);
    font-family: cursive;
}

.content__text-home img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    z-index: 1000;
    
}

.content__text-home h1, h4, h5 {
    z-index: 10;
    font-size: 3rem;
    
}

@media (max-width: 800px) {
    .container__home {
        flex-direction: column;
    }
    
}

@media (max-width: 450px) {
    .content__text-home {
        padding: 0 8px;
    }

    .content__text-home h1, h4, h5 {
        font-size: 2rem;
    }
    
}