.container__home {
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
  
    
    
}

.content__text-home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: rgb(54, 54, 54);
    font-family: cursive;
    
}

.content__text-home img {
    width: 100%;
    max-width: 300px;
    z-index: 1000;
    animation: translate 2s infinite;
    
}

@keyframes translate {
    0%{transform: scale(1);}
    50%{
        transform: scale(1.06);
        color: black;

    }
    100%{transform: scale(1);}
    
}

.content__text-home h1, h4, h5 {
    z-index: 10;
    font-size: 3rem;
    
    
}

.animation__home {
    position: absolute;
    background-color: rgba(239, 192, 7, 0.977);
    
    width: 40vw;
    aspect-ratio: 1;
    
    animation: animation-home 3s infinite;
}

@keyframes animation-home {
    0% {
        /* transform: scale(1); */
        border-radius: none;
    }
    50% {
         transform: rotate(90deg); 
         background-color: rgb(245, 148, 11);;
         aspect-ratio: 1;
        border-radius: 50%;
        
    }
    100% {
        /* transform: scale(1); */
        transform: rotate(180deg); 
        
        border-radius: none;

    }; 
}


@media (max-width: 800px) {
    .animation__home {  
        width: 60vw;
        aspect-ratio: 1;
        top: 50px;
    }
    
}

@media (max-width: 450px) {
    .animation__home {  
        width: 70vw;
        aspect-ratio: 1;
    }

    .content__text-home {
        padding: 0 8px;
    }

    .content__text-home h1, h4, h5 {
        font-size: 2rem;
    }
    
}