.navbar__fixed {
    width: 100vw;
}

.contacto {
    color: red;
    animation: contact 2s infinite;
}

@keyframes contact {
    0%{
        transform: translateY(5px);
        color: green
    }
    25%{
        transform: translateY(0px);

        color: rgb(211, 2, 113)
    }
    50%{
        transform: translateY(5px);
        color: rgb(255, 132, 17)}
    75%{
        transform: translateY(0px);
        transform: rotateY(180deg);
        color: rgb(141, 249, 17)}
    
        100%{
            transform: rotateY(360deg);
    
            color:rgb(174, 174, 174)}
    
}

