.navbar__fixed {
  width: 100vw;
}

.nombre {
  color: red;
}

.contacto {
  color: rgb(0, 0, 0);
  /* animation: contact 2s infinite; */
}

.content__flags {
  width: 35px;

  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 60px;
}
