.App {
  /* max-width: 1400px; */
  margin: 0 auto;
  /* background-color: rgb(26, 26, 26); */
  /* background-color: rgb(4, 4, 61); */
  background-color: var(--background);
}

.mode {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* background-color: red; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: transparent;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 70px;
  right: 20px;
}

.moon__sun {
  font-size: 2.5rem;
  color: var(--text-color-black);
  animation: moveSun 1.8s infinite;
}

@keyframes moveSun {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .moon__sun {
    font-size: 2rem;
  }
}
