@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Roboto+Serif:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

:root {
    --vector-circle: rgb(249, 193, 22);
    --vector-point: rgb(65, 65, 65);
    --text-color-black: rgb(64, 64, 64);
    --black: rgb(67, 67, 67);
    --background: rgb(242, 246, 209);
    --background-proyectos: rgb(249, 193, 22);

    --light-black: rgb(151, 151, 151);
    --white: white;
    --light-white: rgb(229, 229, 229);

}

.dark_mode {
    --vector-circle:rgb(171, 129, 4);
    --background: rgb(47, 47, 47);
    --vector-point: rgb(187, 187, 187);
    --text-color-black: rgb(255, 255, 255);
    --background-proyectos: rgb(171, 129, 4);

 

}

img {
    width: 100%;
    display: block;
}

